{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<h1>Create an Account</h1>

<p>
Please complete the form below to register as either a Buyer or Vendor.
</p>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <h2 class="h5 alert-heading">Please correct the following errors</h2>
    {{ form.errors }}
</div>
{% endif %}

<form method="POST">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">
        Register
    </button>

</form>

{% endblock %}
